@media screen and (min-width: 780px) {
	.side:hover {
	  opacity: 0.8;
	}
}

@media screen and (max-width: 780px) {
	.rather-contain {
		flex-direction: column;
	}
	.side {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.side {
		font-size: 1.5rem;
	}
}
